@media all and(min-width: 768px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
only screen and (           min-resolution: 192dpi) and (min-width: 768px),
only screen and (           min-resolution: 2dppx)  and (min-width: 768px){
	.logo>a>img{
		margin-left:70px;
	}
	.nav{
    margin-top: -50px;
    margin-right: 50px;
}
}/*ending of 768px*/

@media all and(min-width: 1024px),

only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1024px),
only screen and (                min-resolution: 192dpi) and (min-width: 1024px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1024px){
	.logo>a>img{
		margin-left:70px;
		height: 40px;
	}
	.nav{
    margin-top: -55px;
    margin-right: 50px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 16px;
}

}/*ending of 1024px*/

@media all and(min-width: 1440px),

only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1440px),
only screen and (                min-resolution: 192dpi) and (min-width: 1440px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1440px){
	.logo>a>img{
		margin-left:120px;
		height: 50px;
	}
	.nav{
    margin-right: 100px;
}

	}/*ending of 1440px*/