.text-items{
	margin: auto;
	font-family: "Cabin";
	border-color: #00ACF0;
	
	width: 90%;
	padding: 10px;
	margin-bottom: 30px;
	border-radius: 10px;
	border-width: 1px;

	
}



input[type=submit] {
	display: block;
	margin: auto;
    width: 10%;
    padding:5px 50px;
	background: #006A94;
	color: #FFFFFF;
	border-radius: 100px;
	border:none;
	font-weight: bold;
	font-family: 'Cabin';
	font-size: 13px;
	
	letter-spacing: 0.41px;
}

#thankyou_message{
	display: none;
	text-align: center;
	width: 100%;
	font-family: "Cabin";
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
}

label{
	text-align: center;
	width: 100%;
	margin: auto;
	font-family: "Cabin";
	font-size: 1.5rem;

}

form{
	margin-top: 30px;
}


input:focus ~ .floating-label1,
input:not(:focus):valid ~ .floating-label1{
  top: 265px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;

}

input:focus ~ .floating-label2,
input:not(:focus):valid ~ .floating-label2{
  top: 328px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;

}
textarea:focus ~ .floating-label3,
textarea:not(:focus):valid ~ .floating-label3
{
  top: 391px;
  bottom: 10px;
  left: 30px;
  font-size: 11px;
  opacity: 1;

}


.floating-label1 {
	position: absolute;
  	pointer-events: none;
  	left: 30px;
  	transition: 0.2s ease all;
  	color: #888888;
  	top: 287px;
}
.floating-label2 {
	position: absolute;
  	pointer-events: none;
  	left: 30px;
  	transition: 0.2s ease all;
  	color: #888888;
  	top: 350px;
}
.floating-label3 {
	position: absolute;
  	pointer-events: none;
  	left: 30px;
  	transition: 0.2s ease all;
  	color: #888888;
  	top: 413px;
}

#contact-button{
	display: block;
	margin: -10px auto;
	

}

