
@media all and(min-width: 375px),

only screen and (        -webkit-min-device-pixel-ratio: 2)      and (min-width: 375px),
only screen and (                min-resolution: 192dpi) and (min-width: 375px),
only screen and (                min-resolution: 2dppx)  and (min-width: 375px){
   .nomnom .description {
    height: 310px;
  
}
.nomnom .scope {
    height: 270px;
}
.nomnom .comp-analysis {
    height: 460px;
}
.nomnom .interviews {
    height: 1390px;
}
.nomnom .persona {
    height: 350px;
}
.nomnom .identity-and-branding {
    height: 380px;
}
.nomnom .user-flows {
  height: 730px;
}  
.nomnom .wireframes {
    top: 4200px;
    height: 1020px;
}
.nomnom .prototype{
  top: 5220px;
}
.nomnom .usability-test {
    top: 5330px;
    height: 230px;
}
.nomnom .lessons {
    top: 5560px;
}
.nomnom .lets-talk {

    top: 5780px;
}
.nomnom .footer {
        top: 5900px;
}
}


@media all and(min-width: 425px),

only screen and (        -webkit-min-device-pixel-ratio: 2)      and (min-width: 425px),
only screen and (                min-resolution: 192dpi) and (min-width: 425px),
only screen and (                min-resolution: 2dppx)  and (min-width: 425px){
  .nomnom .description{
    height: 280px;
  }
  .nomnom .scope {
    height: 220px;
}
.nomnom .comp-analysis {
    height: 430px;
}
.nomnom .interviews {
    height: 1320px;
}
.nomnom .persona {
    height: 330px;
}
.nomnom .identity-and-branding {
    height: 350px;
}
.nomnom .user-flows .uf2 {
  top:0px;
}
.nomnom .user-flows {
    height: 730px;
}
.nomnom .wireframes {
    top: 3970px;
    height: 920px;
}
.nomnom .prototype {
  
    top: 4890px;
}
.nomnom .usability-test {
    top: 4990px;
    height: 230px;
}
.nomnom .lessons {
    top: 5220px;
}
.nomnom .lets-talk {

    top: 5415px;
}
.nomnom .footer {

    top: 5530px;
}
}   
@media all and(min-width: 768px),

only screen and (        -webkit-min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (                min-resolution: 192dpi) and (min-width: 768px),
only screen and (                min-resolution: 2dppx)  and (min-width: 768px){
   .nomnom .nomnom-image{
    height: 240px;
   }
   .nomnom .description {
    height: 240px;
}
.nomnom .comp-analysis .para-2 {
    margin-top: 140px;
}

.nomnom .comp-analysis .icons .comp-icon{
  margin-left: 110px;
}
.nomnom .interviews .interview-image>img {
    height: 200px;
    
}
.nomnom .comp-analysis .comp-image>img {
    height: 250px;
    
}
.nomnom .comp-analysis {
    height: 530px;
}
.nomnom .interviews .int-para{
  margin-top: 80px;
}
.nomnom .interviews {
    height: 1250px;
}
.nomnom .persona .image>img {
    height: 400px;
    width: auto;
}
.nomnom .persona {
    height: 600px;
}
.nomnom .identity-and-branding .image>img {
    height: 400px;
    width: auto;
  }
  .nomnom .identity-and-branding {
    height: 590px;
}
.nomnom .user-flows .uf1>img {
    height: 80px;
   
}
.nomnom .user-flows .para2{
  margin-top: 30px;
}
.nomnom .wireframes {
    top: 5160px;
    height: 1060px;
}
.nomnom .wireframes .wf{

  height: 300px;

}
.nomnom .wireframes .wf>img{
  height: 300px;
  
  margin-left: 60px;
  margin-top: 10px;
}
.nomnom .wireframes .wf-para{
  margin-top: 40px;
}
.nomnom .wireframes .wf5>img {
    height: 300px;
    
}
.nomnom .user-flows .uf2>img {
    height: 500px;
  
}
.nomnom .user-flows .para3{
  margin-top: 370px;
}
.nomnom .user-flows .uf3>img {
    height: 500px;
  
}
.nomnom .usability-test {
    top: 6345px;
    height: 220px;
}
.nomnom .prototype {
    top: 6225px;
}
.nomnom .lessons {
    top: 6565px;
}
.nomnom .user-flows {
    height: 1380px;
}
.nomnom .lets-talk {
    top: 6770px;
    margin-top: 0px;
}
.nomnom .footer {
    top: 6870px;
}
}

@media all and(min-width: 1024px),

only screen and (        -webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (                min-resolution: 192dpi) and (min-width: 1024px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1024px){
.nomnom .nomnom-image {
    height: 400px;
    padding-top: 20px;
}
.nomnom .description{

  height: 320px;
}  
.nomnom .image {

    height: 300px;
}
.nomnom .scope {
    height: 235px;
}
.nomnom .comp-analysis .icons{
  top: 400px;

}

 .nomnom .comp-analysis .comp-icon>img{
    height: 50px;
  }
 .nomnom .comp-icon{
  margin-top: 15px;
  margin-left: 135px;

}

.nomnom .comp-image{
  margin-top: 40px;
    margin-bottom: 50px;
} 
.nomnom .comp-analysis .comp-image>img {
    height: 400px;
    margin-bottom: 0px;
}

.nomnom .comp-analysis{
  height: 68  0px;
}  
.nomnom .interviews{
  height: 1660px;
}

.nomnom .persona .image>img {
    height: 600px;

}


.nomnom .persona{
  height: 820px;
}

.nomnom .identity-and-branding {
    height: 820px;
  
}
.nomnom .identity-and-branding .image>img {
    height: 600px;
    
}
.nomnom .user-flows .uf1>img{
  height: 150px;
 
}
.nomnom .user-flows .uf1{
  height: 150px;

}
.nomnom .user-flows .uf2{
  height: 550px;

}
.nomnom .user-flows .uf2>img{
  height: 900px;
 
}

.nomnom .uf3{
  top: 0px;
}
.nomnom .user-flows .uf3>img {
    width: 550px;
}
.nomnom .user-flows {
    height: 1990px;
}
.nomnom .wireframes{
  top: 6890px;
  height: 1450px;
}

.nomnom .wireframes .image>img {
    height: 390px;
}
.nomnom .wireframes .wf>img{
  height: 370px;
}
.nomnom .wireframes .wf5{
  top:70px;
}
.nomnom .wireframes .wf-para {
    top: 70px;
}

.nomnom .prototype {
    top: 8350px;
}
.nomnom .usability-test {
    top: 8460px;
    height: 190px;
}
.nomnom .lessons{
  top: 8650px;
  height: 210px;
}
.nomnom .lets-talk{
  top:8860px;
}
.nomnom .footer{
  
  top:8990px;
}
.nomnom .interviews .interview-image>img {
    height: 360px;
  
}
.nomnom .comp-analysis .para-2{
  margin-top: 60px;
}
.nomnom .user-flows .uf3{
    top: 0px;
    height: 550px;
}
.nomnom .user-flows .uf3>img {
    height:550px;
   
}
.user-flows {
    height: 1590px;
}
.nomnom .wireframes .wf2>img {
    height: 400px;
}
.nomnom .usability-test .ut{
  
  margin-top: 0px;
}

}

@media all and(min-width: 1440px),

only screen and (        -webkit-min-device-pixel-ratio: 2) and (min-width: 1440px),
only screen and (                min-resolution: 192dpi) and (min-width: 1440px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1440px){
.nomnom .description{
  height: 310px;
}  
.nomnom .comp-analysis{

    height: 470px;
    padding-top: 15px;

}
.nomnom .comp-icon{
  margin-left: 180px;

}
.nomnom .comp-analysis{
  height: 710px;
}
 .nomnom .comp-icon{
  height: 60px;
  margin-left: 230px;

}
.nomnom .interviews{
  height: 1610px;
}
.nomnom .identity-and-branding {
    height: 810px;
}
.nomnom .user-flows {
    height: 2070px;
}
.nomnom .wireframes .wf>img{
  height: 450px;
}
.nomnom .wireframes{
  top: 7080px;
  height: 1560px;
}
.nomnom .wireframes .image>img {
    height: 480px;
}
  
.nomnom .wireframes .wf-para{
  top:80px;
}
.nomnom .wireframes .wf5{
  top:90px;
}
.nomnom .wireframes .wf2>img {
    height: 400px;
}
.nomnom .prototype {
    top: 8650px;
    height: 100px;
    padding-top: 10px;
}
.nomnom .usability-test {
    top: 8760px;
    padding-top: 10px;
    height: 190px;
}


.nomnom .lessons {
    top: 8950px;
    height: 220px;
}
.nomnom .lets-talk{
  top:9170px;
}
.nomnom .footer{
  position: absolute;
  top:9290px;
}
.nomnom .interviews .interview-image>img {
    height: 450px;
  
}
.nomnom .image {
    margin-bottom: 80px;
}
.nomnom .user-flows .uf1>img {
    height: 210px;
}
.nomnom .user-flows .uf3{

    height: 470px;
}
.nomnom .user-flows .uf3>img {
    height:470px;
  
}
.nomnom-image{
  padding-top: 20px;
  height: 390px;
}
}
