
@media all and(min-width: 375px),

only screen and (        -webkit-min-device-pixel-ratio: 2)      and (min-width: 375px),
only screen and (                min-resolution: 192dpi) and (min-width: 375px),
only screen and (                min-resolution: 2dppx)  and (min-width: 375px){
   .research {
     height: 1450px;
   }
   .identity-and-branding {
    height: 790px;
   }
   .scope {
    height: 220px;
}
.hope{
  top:40px;
}
.baksa{
  top: 50px;
}

.user-flows{
  height: 820px;
} 
.wireframes{
  
  height: 1480px;
}
.prototype{
  
}
.deployement{
  
  height: 320px;
}
.dp{
  top:180px;
}
.usability-test{
  
  height: 240px;
}
.lessons{
  top:4740px;
}
.baksa-lets-talk .talk-title{
 top:-10px;
}
.baksa-footer{

}
  
}


@media all and(min-width: 425px),

only screen and (        -webkit-min-device-pixel-ratio: 2)      and (min-width: 425px),
only screen and (                min-resolution: 192dpi) and (min-width: 425px),
only screen and (                min-resolution: 2dppx)  and (min-width: 425px){
   .research {
     height: 1440px;
   }
    .project{
      height: 330px;
    }
    .image{
      height: 165px;
    }
     .text{
      height: 165px;
    }

    .full-form {
    top:0px;
}

.description {
    height: 130px;
    width: 100%;
    padding-top: 10px;
    margin-top: 20px;
}
.scope{
  height: 220px;
  padding-top: 20px;
 }
 .persona{
  height: 380px;
 }
 .identity-and-branding {
    height: 780px;
   }
.user-flows{
  height: 980px;
} 
.user-flows .uf>img {
    width: 160px;
    height: auto;
}
.uf2{
  top:60px;
}
.uf3{
  top:60px;
}
.uf4{
  top:135px;
}

.wf-fourth{
  top:-190px;
}
.wf4>img {
   
    height: 250px;
}
.wf4{
  top: -200px;
}
.wireframes{
  height: 1440px;
  
}
.baksa .prototype {
    top:20px;
    height: 130px;
    position: relative;
}
.baksa .prototype .desc-title{
  height: 30px;
  top:-80px;
}
.deployement {
    top:10px;
    position: relative;
}
.deployement .row .desc-title {
    top: 0px;
}
.deployement .row .desc-content {
    top: 0px;
}
.usability-test {
    top:0px;
    height: 250px;
    position: relative;
}
.baksa .usability-test .row .desc-title {
    top: -135px;
}
.baksa .deployement .contact-me {
    
    top: 0px;
}
.baksa .usability-test .row .desc-content {
    top: -135px;
}
.lessons {
    
}
.baksa .lessons .row .desc-title {
    top: -140px;
}

.baksa-lets-talk .contact-me {
    
    top: -140px;
}
.baksa-footer .row .icons{
    top:-130px;
}
.baksa .footer .copyright {
    top: -130px;
}
.wf-third {
    top: -180px;
}
.baksa .lessons .row .desc-content {
    top: -130px;
}
}

/*
@media all and(min-width: 535px),

only screen and (        -webkit-min-device-pixel-ratio: 2)      and (min-width: 535px),
only screen and (                min-resolution: 192dpi) and (min-width: 535px),
only screen and (                min-resolution: 2dppx)  and (min-width: 535px){
    .project{
      height: 330px;
    }
    .image{
      height: 165px;
    }
     .text{
      height: 165px;
    }

    .full-form {
    top:0px;
}

.description {
    height: 180px;
    width: 100%;
    padding-top: 10px;
    margin-top: 20px;
}
.scope{

 
  height: 270px;
  top:490px;
  
}



}*/

@media all and(min-width: 768px),

only screen and (        -webkit-min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (                min-resolution: 192dpi) and (min-width: 768px),
only screen and (                min-resolution: 2dppx)  and (min-width: 768px){
    .hero{
      height: 300px;
      margin-bottom: 40px;
      
    }
    .name{
      font-size: 2em;
    }
    .tagline{
      display: inline-block;
      margin-top: -45px;
    }
    .project{
      height: 370px;
    }
    .image{
      height: 200px;
      padding-top: 50px;
    }

     .text{
      height: 200px;
    }
    .image>img{
    height: 300px;
    
    width: auto;
}
.hope{
  top:0px;
}
.baksa{
  top:0px;
}
.getintouch{
  margin-top: 0px;
}
.text{
  padding-top: 30px;

}
.navbar-nav{
  margin-top: 0px;
  /*font-family: 'cabin';*/
  font-family: 'Roboto', sans-serif;
  margin-right: 34px;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #000;
    background-color: #FFF;
}
.lets-talk{
  margin-top: 50px;
}
.talk-title{
  margin-top: 20px;
}
.full-form{
  top:0px;
}
.baksa-image .image>a>img{
  padding-top: 30px;
  height: 350px;
  width: auto;
  text-align: center;
}
.baksa-image{
  height: 390px;
}
.desc-title{
  font-size: 16px;

}
.baksa .prototype {
    top: 120px;
    height: 40px;
}
.baksa .prototype .row{
  position: relative;
  top:10px;
  height: 30px;
}
.desc-content{
  font-size: 13px;
}
.description {
    height: 120px;

    padding-top: 0px;
    margin-top: 190px;
}
.scope{
  height: 180px;
  padding-bottom: 0px;
  padding-top: 0px;
  top:-2  0px;
  position: relative;
 }
.research {
    height: 820px;
    margin-top: 0px;
    padding-top: 0px;
}
.persona {
    height: 490px;
    
}
.identity-and-branding {
    height: 770px;
    padding: 0px;
}
.uf{
  margin-top: 20px;
}
.user-flows{
  height: 960px;
  padding-top: 0px;
}
.desc-title{
  margin-top: 0px;
  padding-top: 15px;
}
.uf1{
  top: -10px;
}
.uf3{
  top: -50px;
}
.uf2{
  top:0px;
}
.uf4{
  top:-20px;
}
.wf1>img{
  visibility: visible;
  height:300px;
  top:-35px;
  position: relative;
}
.wf-second {
    top: 140px;
}
.wf2{
  top:120px;
}
.wf3{
  top:250px; 
}
.wf-third {
    top: 410px;
}
.wf-fourth {
    top: 190px;
}
.wf4 {
    top: 630px;
}
.wf4>img{
  height: 400px;
}
.prototype{
  top:5090px;
  height: 120px;
}
.deployement{
  top: 130px;
  height: 240px;
}

.dp {
    top: 160px;
}
.wf5{
  top:370px;
}
.wf6{
  top:490px;
}
.wireframes{
  
  height: 2400px;
}
.baksa .usability-test .row .desc-title {
    top: -180px;
}
.baksa .usability-test .row .desc-content {
    top: -175px;
}
.usability-test{
  top:130px;
  padding-top: 0px;
  height: 180px;
}

.lessons{
top: 160px;
position: relative;
}

.baksa .lessons .row .desc-title {
    top: -170px;
}
.baksa .lessons .row .desc-content {
    top: -160px;
}
.baksa-lets-talk{
top: 50px;
margin-top: 0px;
height: 120px;
}
.baksa-lets-talk .contact-me {
    top: -60px;
}
.baksa-lets-talk .talk-title {
    top: -20px;
}
.baksa-footer{
  top: 0px;
  position: relative;
}
.footer .row {
    margin: 00px 0px;
  }
  .baksa-footer .row .icons {
    top: 0px;
}
.baksa .footer .copyright {
    top: 0px;
}
.try{
  
  
  max-width: 600px;
  
}
.logo>a>img {
    height: 30px;
    width: auto;
    margin: 10px 0px 10px 60px;
}
}

@media all and(min-width: 1024px),

only screen and (        -webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (                min-resolution: 192dpi) and (min-width: 1024px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1024px){
   .logo>a>img{
  height: 40px;
  margin:10px 0px 10px 150px;
}
    .nav-item{
      font-size: 14px;
    }
    .navbar-right{
  margin-right: 190px;
}
    .navbar{
      margin-bottom: 10px;
    }
    .hero{
      height: 500px;

      
  }
  .image>img {
    height: 340px;
  }
  .hero-stuff{
    top:150px;
  }
  
  .name{
    font-size: 2.5em;
    top:10px;
  }
  .baksa-name{
    font-size: 1.5em;
  }
  .designation{
    font-size:2em;
    top:100px;

  }
  .tagline{
    margin-top:80px;
    font-size:1.5em;
  }
  .getintouch{
    margin-top: 30px;
  }
  .getintouch-button{
    font-size:16px;

  }
    .project{
      height: 550px;
    }
    .image{
      height: 340px;
      padding-top: 0px;
      top:40px;
    }
     .text{
      height: 220px;
    }
    .image>a>img{
    height: 340px;
  

}
.text{
  padding-top: 30px;

}
.title{
  font-size: 1.75em;
}
.para>p{
  text-align: left;
  line-height: 40px;
  font-size:16px;
  padding-left: 25px;
  padding-right: 25px;
 
 }
.hope {
    top: 50px;
}
.baksa {
    top: 60px;
}
 .see-more-button{
  
margin-top: 20px;
padding:10px 70px;

letter-spacing: 0.41px;
}

.lets-talk{
  margin-top: 120px;
  height: 130px;
}
.talk-title{
  font-size: 24px;
}
.copyright{
  margin-top: 0px;
  font-size:16px;
  padding-top: 10px;

}
.icons{margin-top: 0px;}

.social-icon{
  height: 18px;
}
.footer{
  height: 40px;
}
.footer .row{
  height: 40px;
}


.footer{
  margin-top: 0px;
}

.about-para{
  font-size: 16px;
  line-height: 35px;
}
.about-name{
  margin-top: 40px;
}
.box{
  font-size: 18px;
  padding: 20px 20px;

}
.full-form .row{
  text-align: center;
}
.about-box{
  font-size: 18px;
}
.full-form{
  top:-10px;
}

.desc-title{
  font-size: 18px;

}
.desc-content{
  font-size: 16px;
  line-height: 35px;
}

.description {

    height: 135px;
    width: 100%;
    padding-top: 0px;
    margin-top: 10px;
}
.scope{

 
  height: 270px;

  
}
.scope .row{
  height:30px;
}
.description .row{
  height:30px;
}
.research {
   
    width: 100%;
    height: 520px;
    padding-top: 10px;
}
.persona {
    height: 470px;
    padding-top: 15px;
    
}
.identity-and-branding {
    height: 560px;
    top: -10px;
    padding-top: 20px;
}


.desc-title{
  margin-top: 0px;
padding-top: 0px; 
top:10px;
}
.user-flows {
  height: 1330px;
  padding-top: 20px;
}
.user-flows .uf>img {
    width: 400px;
}
.uf2{
  top:-10px;
}
.uf3{
  top:280px;
}
.uf4{
  top:280px;
}
.wf1>img{
  height:500px;
}
.wireframes {
    
    top: 3760px;
    height: 2090px;
}
.wf-second {
    top: 10px;
}
.wireframes .desc-title{
  padding-top: 30px;
}
.wf1{
  visibility: visible;
  height: 300px;
}
.wf1>img{
  visibility: visible;
  height:300px;
  

}
.wf2 {
    top: 10px;
}


.wf2>img{

  height:325px;

}
.wf-third {
    top: 10px;
}
.wf3>img{
  width: 450px;
  left: -70px;
}
.wf4 {
    top: 10px;
}
.wf-fourth {
    top: 10px;
}
.wf4>img{

  height: 600px;
}
.prototype{
  
  top:5850px;
  
  height: 100px;
  
  padding-top: 10px;
}
.pr{
  margin-top: 0px;
  
}
.deployement{
  
  
  top:5950px;
  padding-top: 10px;
  height: 510px;
}
.dp{
  top:100px;
  margin-top:10px;
  height: 300px;

}
.dp2{
  
  top:180px;
  visibility: visible;
}
.dp2>img{
  height: 300px;
}
.usability-test{
  
  top:6470px;
  padding-top: 10px;
  height: 190px;
}
.lessons{
 
  top:6660px;
  padding-top: 10px;
  height: 270px;
}
.baksa-lets-talk{
 
  top:6930px;
 
} 

.baksa-footer{
 
  top:7040px;
}
.try{
  max-width: 900px;
}
.baksa .wireframes .image{
  height: 320px;
}
.try{
  max-width: 600px;
}

}

