
@media all and(min-width: 375px),

only screen and (        -webkit-min-device-pixel-ratio: 2)      and (min-width: 375px),
only screen and (                min-resolution: 192dpi) and (min-width: 375px),
only screen and (                min-resolution: 2dppx)  and (min-width: 375px){
.littlehope .description {
    height: 240px;
}
.littlehope .comp-analysis {
    height: 1070px;
}
.littlehope .research {
    height: 1130px;
}
.little-hope .research .image{
  padding-top: 0px;
}
.little-hope .research .res-para{
  top:-10px;
}
.littlehope .interviews {
    height: 400px;
}

.littlehope .persona {
    height: 430px;
}
.littlehope .user-flows .para3 {
  
    top: 4420px;
} 
.littlehope .user-flows .para4 {

    top: 4500px;
} 
.littlehope .user-flows .para5 {
    top: 4600px;
} 
 .littlehope .user-flows .para6 {
    top: 4700px;
}
.littlehope .user-flows .para7 {
    top: 4780px;
}
.littlehope .wireframes {
    top: 4830px;
    height: 3210px;
}
.littlehope .user-flows {
    height: 620px;
    padding-top: 10px;
}
.littlehope .prototype {
    top: 8040px;
    height: 100px;
}
.littlehope .usability-test {
    top: 8140px;
}
.littlehope .lessons {
    top: 8300px;
}
.littlehope .lets-talk {
    top: 3680px;
}
.littlehope .footer {
  
    top: 8620px;
} 
}


@media all and(min-width: 425px),

only screen and (        -webkit-min-device-pixel-ratio: 2)      and (min-width: 425px),
only screen and (                min-resolution: 192dpi) and (min-width: 425px),
only screen and (                min-resolution: 2dppx)  and (min-width: 425px){
.littlehope .description {
    height: 220px;
    margin-top: 0px;
}
.littlehope .comp-analysis {
    height: 930px;
}
.littlehope .comp-analysis .comp-image>img{
  margin-top:-20px;
}
.littlehope .research .survey-image{
  padding-top:0px;
}
.littlehope .research .res-para{
  margin-top: 10px;
}
.littlehope .research {
    height: 970px;
}
.littlehope .interviews {
    height: 350px;
}
.littlehope .identity-and-branding {
    
    height: 380px;
}
.littlehope .user-flows .para3 {
    top: 4050px;
}
.littlehope .user-flows .para4 {
    top: 4160px;
}
.littlehope .user-flows .para5 {
    top: 4260px;
}
.littlehope .user-flows .para6 {
    top: 4370px;
}
.littlehope .user-flows .para7 {
    top: 4460px;
}
.littlehope .user-flows {
    height: 700px;
}
.littlehope .wireframes {
    top: 4530px;
    height: 2980px;
}
.littlehope .wireframes .para3 {
    top: 125px;
}
.littlehope .wireframes .para5 {
    top: -30px;
}
.littlehope .wireframes .wf5 {
    text-align: center;
    width: 100%;
}
.littlehope .prototype {
top: 7510px;
}
.littlehope .usability-test {
    top: 7620px;
}
.littlehope .lessons {
    top: 7770px;
}
.littlehope .lets-talk {
    top: 3450px;
}
.littlehope .footer {
    top: 8070px;
}
} 
@media all and(min-width: 768px),

only screen and (        -webkit-min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (                min-resolution: 192dpi) and (min-width: 768px),
only screen and (                min-resolution: 2dppx)  and (min-width: 768px){
.littlehope .nomnom-image {
    padding-top: 20px;
    height: 240px;
}
.littlehope .description {
    height: 210px;
  
}
.littlehope .scope {
    height: 220px;
    padding-top: 0px;
}
.littlehope .comp-analysis .comp-icon>img {
    height: 20px;

}
.littlehope .comp-analysis .comp-image>img{
  width:600px;
  margin-top: 20px;
}
.littlehope .comp-analysis .para-2 {
    margin-top: 230px;
}
.littlehope .comp-analysis {
    height: 1120px;
}
.littlehope .research .survey-image>img {
    
    width: 600px;
}
.littlehope .research {
    height: 1120px;
    margin-top: 0px;
}
.littlehope .research .res-para {
    margin-top: 120px;
}
.littlehope .interviews {
    height: 300px;
}
.littlehope .persona .persona-image>img {
    margin-top: 20px;
    width: 500px;
}
.littlehope .persona {
    height: 690px;
}
.littlehope .persona .desc-title {
    top: -60px;
}
.littlehope .identity-and-branding .persona-image>img {
    
    width: 600px;
}
.littlehope .identity-and-branding {
    height: 600px;
}
.littlehope .user-flows .uf>img {
    width: 600px;
}

.littlehope .user-flows .para3 {
    top: 5120px;
}
.littlehope .user-flows .para4 {
    top: 5440px;
}
.littlehope .user-flows .para5 {
    top: 5720px;
}
.littlehope .user-flows .para6 {
    top: 6050px;
}
.littlehope .user-flows .para7 {
    top: 6350px;
}
.littlehope .user-flows {
    height: 1860px;
}
.littlehope .wireframes{
  top:6485px;
  height: 5590px;
}
.littlehope .wireframes .wf-image>img {
    height: auto;
    width: 600px;
}
.littlehope .wireframes .wf1 {
    visibility: visible;
    top: 240px;
}
.littlehope .wireframes .para2 {
    top: 730px;
    
}
.littlehope .wireframes .wf2 {
    top: 730px;
}

.littlehope .wireframes .para3 {
    top: 1190px;
}
.littlehope .wireframes .wf3 {
    top: 1200px;
    left: 0px;
    height: 350px;
}
.littlehope .wireframes .para4 {
    top: 1200px;
    
}
.littlehope .wireframes .wf4 {
    top: 1200px;
}
.littlehope .wireframes .para5 {
    top: 1490px;
}
.littlehope .wireframes .wf5 {
    text-align: center;
    width: 100%;
    top: 1500px;
}
.littlehope .wireframes .para6 {
    top: 2280px;
}
.littlehope .wireframes .wf6 {
    width: 100%;
    height: 345px;
    top: 2280px;
}
.littlehope .wireframes .para7 {
    top: 2680px;
}
.littlehope .prototype {
    top: 12070px;
}
.littlehope .usability-test {
    top: 12190px;
}
.littlehope .lessons {
    top: 12350px;
    margin-top: -10px;
}
.littlehope .lets-talk {
    top: 6025px;
}
.littlehope .footer {
    top: 12630px;
}

}
   

@media all and(min-width: 1024px),

only screen and (        -webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (                min-resolution: 192dpi) and (min-width: 1024px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1024px){
.littlehope .nomnom-image {
    padding-top: 20px;
    height: 400px;
}
.littlehope .description{
  height: 230px;

}
.littlehope .scope {
    height: 270px;
}
.littlehope .comp-analysis .comp-icon {
   margin-left: 25px;
}

.littlehope .comp-analysis .comp-image>img{
  margin-top: 30px;
  
  width: 800px;
}
.littlehope .comp-analysis .para-2{
  margin-top: 60px;
}
.littlehope .comp-analysis {
    width: 100%;
    height: 1220px;
    padding-top: 10px;
}
.littlehope .research .image {
    height: 260px;}
.littlehope .research {
    margin-top: 0px;
    height: 1260px;
    padding-top: 10px;
}

.littlehope .comp-analysis .comp-image>img{
  height: auto;
  width: 600px;

}
.littlehope .res-para{
  top:-40px;

}
.littlehope .interviews{
  height: 370px;

  margin-top: 10px;
}

.littlehope .interviews .desc-title {
    top: -30px;
}
.littlehope .interviews .int-para {
    top: -30px;
}
.littlehope .persona{
  height: 800px;

}
.littlehope .persona .desc-title{
  margin-top: 30px;
}
.littlehope .persona .desc-content {
    top: -50px;
}
.littlehope .persona .persona-image>img{
  width: 600px;
}
.littlehope .identity-and-branding {
    height: 650px;
    
}
.littlehope .identity-and-branding .desc-title{
  margin-top:30px;
}
.littlehope .user-flows {
    height: 1940px;
  
}

.littlehope .user-flows .para2{
  top:0px;
}
.littlehope .user-flows .para3{
  top:5810px;
}
.littlehope .user-flows .uf>img {
    width: 600px;
}
.littlehope .user-flows .para4{
  top:6160px;
}
.littlehope .user-flows .para5{
  top:6450px;
  }
.littlehope .user-flows .para6{
  top:6810px;
  }
  .littlehope .user-flows .para7{
  top:7110px;
  }

  .littlehope .wireframes{
    top: 7265px;
    height: 5770px;
  }
  .littlehope .wireframes .wf1 {

    top: 330px;
}
   .littlehope .wireframes .wf-image>img{
   width: 600px;
  }
  .littlehope .wireframes .para2{
   top: 740px;
  }
   .littlehope .wireframes .wf2{
    top: 740px;
  }
  .littlehope .wireframes .para3{
   top: 1010px;
  }
  .littlehope .wireframes .wf3{
    top: 1020px;
    left: 0px;
  }
  .littlehope .wireframes .para4{
   top: 1020px;
  }
  .littlehope .wireframes .wf4{
    top: 1020px;

  }
  .littlehope .wireframes .para5{
   top: 1120px;
  }
   .littlehope .wireframes .wf5{
    top: 1130px;

  }
  .littlehope .wireframes .para6{
   top: 1920px;
  }
  .littlehope .wireframes .wf6{
    top: 1920px;

  }
  .littlehope .wireframes .para7{
   top: 2330px;
  }
.littlehope .prototype {
    top: 13000px;
}
.littlehope .usability-test{
  top:13100px;
}


.littlehope .lessons{

    top: 13265px;

    height: 190px;
}
.littlehope .lets-talk{
  top:6200px;
}
.littlehope .footer{
  position: absolute;
  top: 13590px;
}
.littlehope .comp-analysis .comp-icon>img{
  height: 30px;
  width: auto;
}
.littlehope .research .survey-image>img{
  
  width: 700px;
}


}



@media all and(min-width: 1440px),

only screen and (        -webkit-min-device-pixel-ratio: 2) and (min-width: 1440px),
only screen and (                min-resolution: 192dpi) and (min-width: 1440px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1440px){
.littlehope .description {
    height: 240px;
}
.littlehope .scope {
    margin-top: 20px;
}
.littlehope .comp-analysis .desc-title{
  padding-top: 10px;
}
.littlehope .comp-analysis .comp-image>img {
    margin-top: 10px;
    width: 800px;
}
.littlehope .comp-analysis .para-2 {
    margin-top: 170px;
}
.littlehope .comp-analysis {

    height: 1330px;
}

.littlehope .research {
    padding-top: 20px;
    height: 1270px;
}
.littlehope .interviews {
    height: 380px;
    padding-top: 10px;
}
.littlehope .persona {
    height: 820px;
}
.littlehope .persona .desc-title{
    padding-top: 20px;
}
.littlehope .persona .persona-image>img {
    width: 600px;
}

.littlehope .identity-and-branding{
height: 790px;

}
.littlehope .identity-and-branding .desc-title{
margin-top: 10px;

}
.littlehope .identity-and-branding .persona-image>img{
margin-top: 10px;
width: 800px;
}
.littlehope .user-flows .uf>img {
    width: 800px;
}
.littlehope .user-flows{
  height: 2420px;
}
.littlehope .user-flows .para2 {
    top: 0px;
}
.littlehope .user-flows .para3 {
    top: 6250px;
}
.littlehope .user-flows .para4 {
    top: 6680px;
}
.littlehope .user-flows .para5 {
    top: 7040px;
}
.littlehope .user-flows .para6 {
    top: 7500px;
}
.littlehope .user-flows .para7 {
    top: 7870px;
    height: 100px;
}
.littlehope .wireframes {
    top: 8050px;
    height: 5770px;
}
.littlehope .wireframes .wf1 {
    top: 330px;
}
.littlehope .wireframes .wf3 {
    top: 1000px;
    left: 0px;
    height: 350px;
}
.littlehope .wireframes .para5{
   top: 990px;
  }

  .littlehope .wireframes .para7{
   top: 2190px;
  }
   .littlehope .wireframes .para4{
   top: 990px;
  }
  .littlehope .wireframes .wf4 {
    height: 490px;
    top: 990px;
}
.littlehope .wireframes .wf5 {
    top: 990px;
}
.littlehope .wireframes .para6 {
    top: 1780px;
}
.littlehope .wireframes .wf6 {
    top: 1780px;
}
.littlehope .prototype {
    top: 13820px;
}
.littlehope .usability-test {
    top: 13930px;
    height: 150px;
}
.littlehope .lessons {
    top: 14100px;
    height: 150px;
}
.littlehope .lets-talk {
    top: 6200px;
}
.littlehope .footer {
    
    top: 14400px;
}
}

