.logo>a>img{
	max-height: 40px;
	width: auto;
	
	margin:15px 0px 0px 95px; /*75pxoffset from left*/
}
.logo{
	width: 325px;
	height: 40px;
	float:left;
}
.collapse{
	/*margin-left: 210px;*/
	float: right;


}
.navbar{
	height: 60px;
	background-color: #FFF;

}
.nav{
	margin-right: 110px;
	padding-top: 10px;
	font-family: 1em;

}
.collapse .nav .nav-item{
	font-size: 1em;
	text-transform: uppercase;	
}
.main-title{
	font-family:'Varela Round', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.5em;
	color: rgb(0, 106, 148);
}
.text-row{
	
	width: 100%;
  	margin: 0 auto ;
  	float: none;
  	max-width: 75%;
  	/*max-width: 864px;*/
  	text-align: left;	
}
.sub{
	font-family:'Lato', sans-serif;
	text-align: center;
	font-size: 2.0em;
	color: #8f8f8f;
}

.app-image{
	text-align: center;
	margin-top: 3.5em;
}
.hero-title{
	font-family: 'Varela Round', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.5em;
	color: #00ACF0;
}
.topic-title{
	font-family:'Lato', sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 2em;
	color: #333;
}
.topic-desc{
	font-family:'Lato', sans-serif;
	font-size: 1.25em;
	margin-top: 1em;
	line-height: 1.75em;
	color: #393939;
}
.topic-button{
	text-align: center;
	font-family: 'Lato',sans-serif;
	top:2em;
	height: 60px;
	
}
.topic-button>a {
	padding:10px 50px;
	background: #FFF;
	border-radius: 100px;
	border-color: rgb(0, 106, 148);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1em;
	color: rgb(0, 106, 148);
	letter-spacing: 0.41px;
}
.submit-button{
	padding:10px 50px;
	background: #FFF;
	border-radius: 100px;
	border-color: rgb(0, 106, 148);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1em;
	color: rgb(0, 106, 148);
	letter-spacing: 0.41px;
	text-align: center;
	font-family: 'Lato',sans-serif;
	height: 60px;
	display: block;
	margin: auto;
}

.CTA-button{
	top:0.25em;
}
.CTA-button>a{
	padding:10px 50px;
	background: rgb(0, 106, 148);
	border-radius: 100px;
	border:none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1em;
	color: #FFF;
	letter-spacing: 0.41px;

}

.index-title{
	font-family:'Lato', sans-serif;
	font-size: 2.0em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 1.5em;
	color: color: #333;
}
.icons{
	text-align: center;
}
.social-icon{
	padding: 20px;
}
.footer-text{
	font-family:'Lato', sans-serif;
	font-size: 1.25em;
	
	line-height: 1.75em;
	text-align: center;
}
.hero{
	background-image: url(../images/heroimage.png);
	height: 400px;
	width: 100%;
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
}
.about-hero{
	background-image: url(../images/harsha-photo.png);
}
.about-hero .text-row .hero-title{
	top:150px;
}
.index-hero .text-row .hero-title{
	top:100px;
}
.index-hero .text-row .hero-designation{
	top:120px;
	font-family: 'Lato',sans-serif;
	font-size: 2em;
	text-align: center;
	color: #E7E7E7;
}
.index-hero .text-row .tagline{
	top:140px;
	
	font-size: 1.5em;


	}

a {
    color: inherit;
}
.text-row .topic-desc>p>a{
	color:#00ACF0;
}

#thankyou_message{
	display: none;
	text-align: center;
	width: 100%;
	font-family: 'Lato',sans-serif;
	font-size: 1.75em;
	font-weight: bold;
	color: #00ACF0;
	margin-top: 1em;
}
.contact-hero .text-row .hero-title{
	top:150px;
}
.contact-hero .text-row .tagline{
	top:180px
}

.text-items{
	margin: auto;
	font-family: 'Lato',sans-serif;
	border-color: rgb(0, 106, 148);
	width: 75%;
	padding: 10px;
}


