.logo>a>img{
	max-height: 40px;
	width: auto;
	
	margin:15px 0px 0px 95px; /*75pxoffset from left*/
}
.logo{
	width: 325px;
	height: 40px;
	float:left;
}
.collapse{
	/*margin-left: 210px;*/
	float: right;


}
.navbar{
	height: 60px;
	background-color: #FFF;

}
.nav{
	margin-right: 110px;
	padding-top: 10px;
	font-family: 1em;

}
.collapse .nav .nav-item{
	font-size: 1em;
	text-transform: uppercase;	
}
.title-font{
	font-family:'Varela Round', sans-serif;
}
.desc-font{
	font-family: 'EB Garamond', serif;
}
.main-title{
	
	text-align: center;
	text-transform: uppercase;
	font-size: 2.5em;
	color: rgb(0, 106, 148);
}
.text-row{
	width: 100%;
  	margin: 0 auto ;
  	float: none;
  	max-width: 55%;
  	/*max-width: 864px;*/
  	text-align: justify;
  	
	letter-spacing:-0.004em;	
	

}
.photo-row{
	max-width: 65%;
	text-align: center;
	margin-top: 1em;
}
.sub{
	
	margin-top: 0em;
	margin-bottom: 1em;
	text-align: center;
	font-size: 2.0em;
	color: #8f8f8f;
}

.app-image{
	text-align: center;
	margin-bottom: 1em;
	
}
.hero-title{
	
	text-align: center;
	text-transform: uppercase;
	font-size: 2.5em;
	color: #00ACF0;
}
.topic-title{
	line-height: 1.04;
	
	font-size: 2em;
	/*text-transform: uppercase;*/
	text-align: left;
	margin-top: 0em;
	color: #333;
	font-family:'Varela Round', sans-serif;
	margin-top: 1em;
}
.topic-desc{
	font-size: 1.45em;
	margin-top: 1em;
	line-height: 1.57em;
	color: #393939;
	letter-spacing:-0.004em;
}
.topic-button{
	text-align: center;
	margin-top: 1em;
	top:0em;
	height: 60px;
	
}
/*p{
	margin-bottom: 1.5em;
}*/
.topic-button>a {
	padding:10px 50px;
	background: #FFF;
	border-radius: 999em;
	border-color: rgb(0, 106, 148);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1em;
	color: rgb(0, 106, 148);
	letter-spacing: 0.41px;
}
.submit-button{
	padding:10px 50px;
	background: rgb(0, 106, 148);
	border-radius: 999em;
	border:none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.5em;
	color: #FFF;
	letter-spacing: 0.41px;
	text-align: center;
	
	
	display: block;
	margin: auto;
}

.submit-button>a{
	font-size: 1em;
}
.CTA-button{
	top:0.25em;
	
}

.CTA-button>a {
	padding:10px 50px;
	background: rgb(0, 106, 148);
	border-radius: 999em;
	border:none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1em;
	color: #FFF;
	letter-spacing: 0.41px;

}



.index-title{
	
	font-size: 2.0em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 1.5em;
	color: color: #333;
}
.icons{
	text-align: center;
}
.social-icon{
	padding: 20px;
}
.footer-text{
	
	font-size: 1.25em;
	
	line-height: 1.75em;
	text-align: center;
}
.hero{
	background-image: url(../images/heroimage.png);
	height: 400px;
	width: 100%;
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
}
.about-hero{
	background-image: url(../images/harsha-photo.png);
}
.about-hero .text-row .hero-title{
	top:150px;
}
.index-hero .text-row .hero-title{
	top:100px;
}
.index-hero .text-row .hero-designation{
	top:120px;
	font-size: 2em;
	text-align: center;
	color: #E7E7E7;
}
.index-hero .text-row .tagline{
	top:140px;
	
	font-size: 1.5em;


	}

a {
    color: inherit;
}
.text-row .topic-desc>p>a{
	color:#00ACF0;
}

#thankyou_message{
	
	display: none;
	text-align: center;
	width: 100%;
	font-size: 1.75em;
	font-weight: bold;
	color: #00ACF0;
	margin-top: 1em;
}
.contact-hero .text-row .hero-title{
	top:150px;
}
.contact-hero .text-row .tagline{
	top:180px
}

.text-items{
	margin: auto;
	border-color: rgb(0, 106, 148);
	width: 75%;
	padding: 10px;
}

.dropdown-menu>li>a{
	line-height: 2.15;
}



.project-section {
    cursor: pointer;
    padding-top: 3em;

}
.project-section:hover{
	background-color: #f8f8f8;
	box-shadow: 0px 0px 1px 5000px rgba(0,0,0,0.8)
	font-weight: 600;
	
}

.persona{
	text-align: center;
	width: 50%;
	height: auto;
	margin: auto;
}


ul{
	margin-bottom: 1em;
}
p{
	margin-bottom: 1em;
}

.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{
	padding-right: 0px;
	padding-left: 0px;
}

.prototype{
	
	height: 400px;
	width: 100%;
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
  	opacity: 0.8;
  	text-align: center;
}
.prototype:hover{
	background-color: #f8f8f8;	
	cursor: pointer;
	opacity:0.6;
}


.prototype .photo-row .app-image:hover{
	opacity: 1;

}

.prototype .photo-row .app-image{
	top:150px;
}

.prototype-lh{
	background-image: url(../images/lh-prototype.png);
}
.prototype-ba{
	background-image: url(../images/ba-prototype.png);
}
.prototype-nn{
	background-image: url(../images/nn-prototype.png);
}

.uf-nn .topic-title{
	text-align: center;
	font-size: 1em;
	margin-bottom: 3.5em;
	margin-top: -0.5em;
}
.uf-nn{
	margin-top: 3em;
}

.lets-talk{
	margin-top: 3em;
}

.project-section .index-title>a:hover{
	text-decoration: none;
}

form{
	margin-top: 1.5em;
}

.footer{
	margin-top:5em;
}

.nn-carousel-inner{
	height: 420px;
	width: auto;
}

.ut1-nn{
	background-image: url(../images/nn-peek1.png);
}
.ut2-nn{
	background-image: url(../images/nn-peek2.png);
}

.github-ba{
	background-image: url(../images/baksa-git.jpg);
}

.github-bj{
	background-image: url(../images/bamjam-git.png);
}

.index .project-section .index-title{
	margin-top: 0em;
}

.affix {
	width:100%;
    top:0;
     
  }

.affix + .container-fluid {
    padding-top: 100px;
  }

.navbar1 .nav>li>a {
    color: #FFF;
    font-size: 1.25em;
  
}
.navbar1{
	background-color: rgb(0, 106, 148);
	border:none;
	z-index: 1000;
	text-align: center;

	}

.navbar1 .nav{
	margin-right: 0px;
	margin: 0 auto;
	
	display: inline-block;
  	float: none;
  	vertical-align: top;
}




.navbar1 .nav>ul{
	margin: 0 auto;
	}
#baksaresearch,#nomresearch,#lhresearch {
    padding-top: 120px;
    margin-top: -120px;
}
#baksapersonas,#nompersonas,#lhpersonas {
    padding-top: 120px;
    margin-top: -120px;
}
#baksaidentity.#nomidentity, #lhidentity {
    padding-top: 120px;
    margin-top: -120px;
}
#baksauserstories, #nomuserstories, #lhuserstories {
    padding-top: 120px;
    margin-top: -120px;
}
#baksawireframes, #nomwireframes, #lhwireframes {
    padding-top: 120px;
    margin-top: -120px;
}
#baksaprototype, #nomprototype, #lhprototype {
    padding-top: 120px;
    margin-top: -120px;
}
#baksadevelopment {
    padding-top: 120px;
    margin-top: -120px;
}
#baksausability, #nomusability, #lhusability {
    padding-top: 120px;
    margin-top: -120px;
}
#baksalessons, #nomlessons, #lhlessons {
    padding-top: 120px;
    margin-top: -120px;
}



.photo-row1{
	width: 100%;
	margin: 0;
}

.identity-img{
	width: 165%;
}